pandas 
numpy 
seaborn
scikit-learn
xgboost
catboost
dill
catboost

# -e . 




# try to comment -e when you try to install requirements.txt
#trigger setup.py file so that it can run yo
#this -e . will also come while u run setup.py which u dont want cuz who wants to get an error
